* {
  margin: 0;
  padding: 0;
}

.page_form{
  margin: 0 auto;
  width: fit-content;
}

.form{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #c1bebe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.form_inp{
  margin-right: 10px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid darkgray;
  color: dimgrey;
}


.form_btn {
  padding: 4px 20px;
  border-style: none;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
}

.form_btn_remove{
  padding: 4px 20px;
  border-style: none;
  background-color: rgb(211, 62, 62);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.img{
  width: 180px;
  margin-right: 10px;
}

.masonry {
  list-style-type: none;
  position: relative;
}
 
.masonry__image {
  width: 100%;
  height: 100%;
}

.masonry__item {
  width: 200px;
  position: absolute;
  transition: left 0.5s ease, top 0.5s ease;
}

.masonry__image{
  display: block;
}
